<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action = "@{/admin}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <label for="age">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="age">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <label>
        <select multiple="multiple" th:field="*{roles}">
            <option th:each="role: ${allRoles}"
                    th:value="${role.id}"
                    th:text="${role.toString()}"></option>
        </select>
    </label>

    <br/>
    <input type="submit" value="Create!"/>

    <br/>
    <a th:href="@{/logout}">Logout</a>
</form>

</body>
</html>